* {
  font-size: 24px;
}

.button-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.button-container button {
  font-size: 32px;
  padding: 1rem 2rem;
}

.text-output {
  margin-top: 2rem;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
}

.username {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: -1rem;
}

.wrapper {
  padding: 2rem;
}